<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luyện thi Online</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header class="horizontal-list">
        <ul>
            <li><img src="../static/images/Generated Image March 31, 2025 - 4_53PM.jpeg" alt="web_logo"></li>
            <li><h1>Luyện thi Online</h1></li>
            <li><button>Đăng nhập / Đăng ký</button></li>
        </ul>
    </header>
    <nav class="horizontal-list">
        <ul>
            <li><a href="/">Trang chủ</a></li>
            <li><a href="">Luyện đề</a></li>
            <li><a href="">Tài liệu</a></li>
            <li><a href="">Liên hệ</a></li>
        </ul>
    </nav>
    <main>
        <div>
            <img src="../static/images/Group 2.jpg" alt="banner">
            <button>Bắt đầu ngay</button>
        </div>
        <div>
            <h2>Chào mừng đến với nền tảng Luyện thi trực tuyến dành cho học sinh Việt Nam</h2>
            <p>Đây là một nền tảng giáo dục trực tuyến được thiết kế đặc biệt dành cho học sinh Việt Nam từ lớp 1 đến lớp 12, với mục tiêu mang đến một môi trường học tập hiệu quả và tiện lợi.</p>
            <h3>Dành cho Học sinh</h3>
            <ul>
                <li>Tham gia vào các bài luyện thi trực tuyến đa dạng, được biên soạn bám sát chương trình học của Bộ Giáo dục và Đào tạo.</li>
                <li>Luyện tập và củng cố kiến thức mọi lúc, mọi nơi, trên mọi thiết bị.</li>
                <li>Tham khảo kho tài liệu phong phú, bao gồm các bài giảng, đề thi, và tài liệu tham khảo hữu ích.</li>
                <li>Theo dõi tiến độ học tập và đánh giá năng lực bản thân một cách khách quan.</li>
            </ul>
            <h3>Dành cho Giáo viên</h3>
            <ul>
                <li>Dễ dàng tạo và quản lý các bài kiểm tra trực tuyến.</li>
                <li>Tiết kiệm thời gian chấm bài và đánh giá kết quả học tập của học sinh.</li>
                <li>Đăng tải và chia sẻ tài liệu miễn phí, giúp học sinh tiếp cận nguồn tài liệu chất lượng.</li>
                <li>Tương tác và hỗ trợ học sinh một cách hiệu quả hơn.</li>
            </ul>
            <p>Với giao diện thân thiện và dễ sử dụng, chúng tôi tin rằng nền tảng này sẽ là một công cụ hỗ trợ đắc lực cho cả học sinh và giáo viên trong quá trình dạy và học. Hãy cùng chúng tôi xây dựng một cộng đồng học tập trực tuyến năng động và hiệu quả!</p>
        </div>
    </main>
    <footer class="horizontal-list">
        <ul>
            <li>Thông tin liên hệ</li>
            <li>Mạng xã hội</li>
            <li>Điều khoản sử dụng</li>
            <li>Chính sách bảo mật</li>
        </ul>
    </footer>
</body>
</html>