<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LUYỆN THI ONLINE</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/test.css">
</head>
<body>
    <header class="header">
        <div class="header-content">
            <img src="../static/images/Generated Image March 31, 2025 - 4_53PM.jpeg" alt="web_logo" class="logo">
            <h1 class="inter-700">LUYỆN THI ONLINE</h1>
            <button class="auth-button inter-600 btn" id="loginButton">Đăng nhập / Đăng ký</button>    </header>
    <nav class="nav">
        <ul class="nav-list">
            <li><a href="" class="inter-600">Trang chủ</a></li>
            <li><a href="" class="inter-600">Luyện đề</a></li>
            <li><a href="" class="inter-600">Tài liệu</a></li>
            <li><a href="" class="inter-600">Liên hệ</a></li>
        </ul>
    </nav>
    <main class="main">
    </main>
    <footer class="footer">
        <ul class="footer-list">
            <li><a href="" class="inter-600">Thông tin liên hệ</a></li>
            <li><a href="" class="inter-600">Mạng xã hội</a></li>
            <li><a href="" class="inter-600">Điều khoản sử dụng</a></li>
            <li><a href="" class="inter-600">Chính sách bảo mật</a></li>
        </ul>
    </footer>
    <script src="../static/main.js"></script>
</body>
</html>